{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="row g-3">
        <div class="col-md-6">
            {{ form_row(form.montant, {
                'attr': {
                    'class': 'form-control form-control-lg',
                    'placeholder': 'Entrez le montant'
                },
                'label_attr': {
                    'class': 'form-label fw-bold'
                }
            }) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.source, {
                'attr': {
                    'class': 'form-control form-control-lg',
                    'placeholder': 'Entrez la source'
                },
                'label_attr': {
                    'class': 'form-label fw-bold'
                }
            }) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.dateAction, {
                'attr': {
                    'class': 'form-control form-control-lg'
                },
                'label_attr': {
                    'class': 'form-label fw-bold'
                }
            }) }}
        </div>
    </div>

    <div class="d-grid gap-2 mt-4">
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="fas fa-save me-2"></i>{{ button_label|default('Enregistrer') }}
        </button>
    </div>
{{ form_end(form) }}
