{% block form_content %}
{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
<div class="row g-3">
                <div class="col-12">
                    {{ form_row(form.email, {
                        'attr': {
                            'class': 'form-control form-control-lg',
                            'placeholder': 'Adresse email'
                        },
                        'label_attr': {
                            'class': 'form-label fw-bold'
                        },
                        'help': 'L\'adresse email servira d\'identifiant de connexion'
                    }) }}
                </div>

                <div class="col-12">
                    {{ form_row(form.plainPassword, {
                        'attr': {
                            'class': 'form-control form-control-lg',
                            'placeholder': 'Mot de passe',
                            'autocomplete': 'new-password'
                        },
                        'label_attr': {
                            'class': 'form-label fw-bold'
                        },
                        'help': 'Le mot de passe doit contenir au moins 8 caractères avec au moins une minuscule, une majuscule et un chiffre',
                        'required': not edit_mode
                    }) }}
                </div>

                {% if form.roles is defined %}
                <div class="col-12">
                    {{ form_row(form.roles, {
                        'label_attr': {
                            'class': 'form-label fw-bold'
                        },
                        'row_attr': {
                            'class': 'mb-3'
                        },
                        'help': 'Sélectionnez un ou plusieurs rôles pour cet utilisateur'
                    }) }}
                </div>
                {% endif %}
            </div>
        </div>
        
        <div class="card-footer bg-light text-end py-3">
            <a href="{{ back_route }}" class="btn btn-outline-secondary me-2">
                <i class="fas fa-arrow-left me-2"></i> Retour à la liste
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save me-2"></i> {{ button_label|default('Enregistrer') }}
            </button>
        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock form_content %}
